<!-- Title -->
<div>
    <h5 class= "text-capitalize fs-18"> zon bekalan </h5>
</div>

<!-- Input Text -->
<form [formGroup]="editZoneForm">
    <div class= "row mt-4">
        <div class= "col-12">
            <label class= "form-label text-capitalize fs-14-bold"> kod zon bekalan </label>
            <div class= "input-group">
                <input matInput formControlName= "zone_code" class= "form-control text-capitalize" type= "text" placeholder= "kod zon bekalan">
            </div>
        </div>
    </div>
    
    <div class= "row mt-4">
        <div class= "col-12">
            <label class= "form-label text-capitalize fs-14-bold"> nama zon bekalan </label>
            <div class= "input-group">
                <input matInput formControlName= "zone_name" class= "form-control text-capitalize" type= "text" placeholder= "nama zon bekalan">
            </div>
        </div>
    </div>
</form>

<!-- Button -->
<div class= "row mt-4">
    <div class= "col-lg-12">
        <div align= "end">
            <button mat-button (click)="onNoClick()" class= "cancel-button text-capitalize"> batal </button>
            <button mat-button (click)="onSubmit()" class= "add-button text-capitalize ms-2"> set zone bekalan </button>
        </div>
    </div>
</div>
      