
.border-gray {
    border: 0.1px solid #DCDCDC !important;
}

.fs-12-gray {
    color: gray;
    font-weight: 300;
    font-size: 0.75rem; // 12px
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

.add-button {
    width: 11rem; // 176px
    height: 2.5rem; // 40px
    font-weight: 600;
    color: #fff;
    background: linear-gradient( to right, #ff9c1c, #ff6c3c ) !important;
    border-radius: 0.5rem; // 8px
}

table {
    width: 100%;
}

.action-icon {
    color: #1072ef;
    height: 1.25rem; // 20px
    width: 1.25rem; // 20px
    font-size: 1.25rem; // 20px
}

.showing-text {
    margin-top: 0.625rem; // 10px
    margin-left: 1.25rem; // 20px
    margin-bottom: 1.25rem; // 20px
}