
.fs-12-gray {
    color: gray;
    font-weight: 300;
    font-size: 0.75rem; // 12px
}

.fs-14 {
    font-weight: 300;
    font-size: 0.875rem; // 14px
}

.fs-21-bold {
    font-weight: 500;
    font-size: 1.313rem; // 21px
}

.forgot {
    margin-top: -0.625rem; // 10px
    display: flex;
    flex-direction: row-reverse;
}