
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$NRW-App-primary: mat.define-palette(mat.$indigo-palette);
$NRW-App-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$NRW-App-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$NRW-App-theme: mat.define-light-theme((
  color: (
    primary: $NRW-App-primary,
    accent: $NRW-App-accent,
    warn: $NRW-App-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($NRW-App-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Dialog Box
.mat-dialog-container {
  border-radius: 0.938rem !important; // 15px
}

.mat-dialog-container .map {
  background-image: url('assets/img/map.png'); 
  background-size: cover;
}

.map-panel .mat-dialog-container  {
  padding: 0;
}

// Snackbar
.black-snackbar {
  background: black !important;
  color: white !important;
}

.green-snackbar {
  background: #32CD32 !important;
  color: white !important;
}

.red-snackbar {
  background: red !important;
  color: white !important;
}